<main class="{% include style/2nd-col-classes.html %} panel panel-primary">
    <div class="panel-heading"><strong>2015</strong></div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit asl, aliquam nec sapien non, congue tempor velit. Donec efficitur egestas sem id finibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vulputate nisi. Phasellus malesuada, eros quis suscipit laoreet, turpis purus gravida urna, imperdiet odio. Aenean felis ligula, blandit id nibh ullamcorper, facilisis pellentesque magna. Proin tortor nisl, aliquam nec sapien non, congue tempor velit. Donec efficitur egestas sem id finibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vulputate nisi. Phasellus malesuada, eros quis suscipit laoreet, turpis purus gravida urna, sit amet iet odio. Aenean felis ligula, blandit id nibh ullamcorper, facilisis pellentesque magna. Proin tortor nisl, aliquam nec sapien non, congue tempor velit. Donec efficitur egestas sem id finibus.</p>
    </div>
</main>
