<footer class="main-footer">
<div class="goup-btn-wrapper"></div>
<div class="img-wrapper">
<div>
<h3>Organizadores</h3>
<div>
{%include utils/institucion-footer.html nombre='ACI'   link=site.url                    description='Asociación Venezolana de Competencias Informáticas'%}
{%include utils/institucion-footer.html nombre='USB'   link='http://www.usb.ve/'        description='Universidad Simón Bolívar'%}
{%include utils/institucion-footer.html nombre='UCV'   link='http://ucv.ve/'            description='Universidad Central de Venezuela'%}
{%include utils/institucion-footer.html nombre='UCAB'  link='http://www.ucab.edu.ve/'   description='Universidad Católica Andrés Bello'%}
{%include utils/institucion-footer.html nombre='UNEFA' link='http://www.unefa.edu.ve/'  description='Universidad Nacional Experimental Politécnica de la Fuerza Armada'%}
</div>
</div>
<div>
<h3>Patrocinadores (<a href="/patrocinadores" class="pat-more" title="Más patrocinadores">+</a>)</h3>
<div>
{%include utils/institucion-footer.html nombre='intraffic' link=''  description='Intraffic'%}
{%include utils/institucion-footer.html nombre='bnc' link=''  description='Banco NAcional de Crédito'%}
{%include utils/institucion-footer.html nombre='akdemia' link=''  description='Akdemia'%}
{%include utils/institucion-footer.html nombre='smartmatic' link=''  description='Smartmatic'%}
</div>
</div>
</div>
<div class="copyright text-center"><span class="glyphicon glyphicon-copyright-mark"></span> <span>2017 Asociación Venezolana de Competencias Informáticas.<br>Todos los derechos reservados.</span></div>
</footer>
