    <footer class="main-footer">
        <div class="goup-btn-wrapper"></div>
        <div class="img-wrapper">
            <div>
                <h3>Organizadores</h3>
                <p>
                    {%include institucion-footer.html nombre='ACI' %}
                </p>
            </div>
            <div>
                <h3>Patrocinadores Oficiales</h3>
                <p>
                    <a href="#top" class="pat-more" title="Más patrocinadores"><span class="glyphicon glyphicon-menu-right gi-2x" data-toggle="tab" data-target="#about-patrocinadores" ></span></a>
                </p>
            </div>
        </div>

        <div class="copyright"><span class="glyphicon glyphicon-copyright-mark"></span> <span>2017 Asociación Venezolana de Competencias Informáticas.<br>Todos los derechos reservados.</span></div>
    </footer>
