<footer class="main-footer">
<div class="goup-btn-wrapper"></div>
<div class="img-wrapper">
<div>
<h3>Organizadores</h3>
<div>
    {%include utils/institucion-footer.html nombre='ACI' %}
</div>
</div>
<div>
<h3>Patrocinadores</h3>
<div>
    <a href="/patrocinadores" class="pat-more" title="Más patrocinadores"><span class="glyphicon glyphicon-menu-right gi-2x"></span></a>
</div>
</div>
</div>
<div class="copyright text-center"><span class="glyphicon glyphicon-copyright-mark"></span> <span>2017 Asociación Venezolana de Competencias Informáticas.<br>Todos los derechos reservados.</span></div>
</footer>