<main class="{% include style/2nd-col-classes.html %} panel panel-primary">
    <div class="panel-heading"><strong>Ambiente de Programación</strong></div>
    <div class="panel-body">
        {%capture text%}
Las computadoras disponibles para la competencia son Intel con Ubuntu 14 LTS, cada una con teclado y mouse.

Se proveerán papel y lápices. Está permitido traer libros y cualquier material impreso o manuscrito. NO está permitido traer ningún dispositivo electrónico, exceptuando relojes (que no sean _smart-watches_) y calculadoras (que no sean gráficas).

Los siguientes compiladores/interpretadores estarán disponibles:

<ul>
<li>gcc 4.1.2</li>
<li>g++ 4.1.2</li>
<li>Python 2.7.9</li>
<li>Python 3.4.2</li>
<li>JavaBlah 7</li>
</ul>

Los siguientes editores de texto e IDEs estarán disponibles:

<ul>
<li>Gedit</li>
<li>Geany</li>
<li>Kate</li>
<li>Sublime Text</li>
<li>vim y gvim</li>
<li>GNU Emacs, XEmacs</li>
</ul>

Firefox estará disponible como navegador, para acceso al sistema de envío.
{%endcapture%}
{{text|markdownify}}
    </div>
</main>
