<section class="{% include style/2nd-col-classes.html %} panel panel-primary">
<div class="panel-heading"><h2>Comité Organizador</h2></div>
<div class="panel-body">
<h2>Comité Organizador de las 1ras OVI, 2018</h2>
<dl class="dl-horizontal">
    <dt>Presidente</dt><dd>Prof Bahsi Kito</dd>
    <dt>Secretario</dt><dd>Dr Feid Dero</dd>
    <dt>Enlace con el Ministerio</dt><dd>Sr Ferod Saq</dd>
    <dt>Equipo del Sitio Web</dt><dd>Blah Blah, Jas Da, Mor Gad</dd>
</dl>
<h2>Comité Científico</h2>
<ul class="list-unstyled">
    <li>Prof Balh Nargh</li>
</ul>
<h2>Comité Técnico</h2>
<ul class="list-unstyled">
    <li>Sr Kotegawa</li>
</ul>
</div>
</section>