<section class="{% include style/2nd-col-classes.html %} panel panel-primary">
<div class="panel-heading"><h2>Elegibilidad</h2></div>
<div class="panel-body">
{%capture text%}
1. **Las OVI están abiertas a cualquier estudiante de bachillerato (1ro a 5to año), sujeto a las condiciones que siguen.**

    Los estudiantes deberán registrarse por medio de sus propias escuelas, respetando el período de registro establecido.

2. **Los 4 mejores participantes de pasadas OVI NO tienen permitido participar en las OVI.**

    Sin embargo, serán parte de los equipos de entrenamiento para próximas IOI. Permite que todos puedan destacarse si trabajan duro para ello, y que los ganadores de ediciones pasadas se concentren en temas más avanzados para las IOI.

3. **Participantes de pasadas IOI NO tienen permitido participar en las OVI.**

    Seguirán siendo parte de los equipos de entrenamiento para próximas IOI, mientras sean elegibles. Sigue la misma idea del punto anterior.

4. **Las decisiones del comité organizador de las OVI son absolutas.**
{%endcapture%}
{{text|markdownify}}
</div>
</section>