<main class="{% include style/2nd-col-classes.html %} panel panel-primary">
    <div class="panel-heading"><strong>Programa de actividades</strong></div>
    <div class="panel-body">
        <h2>Programa de las 1ras OVI, 2018</h2>

        <p><b>Fecha:</b> 01 de Julio de 2018.<br /><b>Lugar:</b> Sala de Micros de la Facultad de Ciencias de la UCV.</p>
        <dl class="dl-horizontal">
            <dt>08:00</dt><dd>Registro de las escuelas y participantes</dd>
            <dt>08:30</dt><dd>Bienvenida a los competidores</dd>
            <dt>09:00</dt><dd><strong>Competencia</strong></dd>
            <dt>12:00</dt><dd>Almuerzo para no-competidores</dd>
            <dt>14:00</dt><dd>Almuerzo para competidores</dd>
            <dt>15:00</dt><dd>Charla (tema por definir)</dd>
            <dt>15:30</dt><dd>Discución de problemas y soluciones por la ACI</dd>
            <dt>16:30</dt><dd>Ceremonia de premiación</dd>
            <dt>17:30</dt><dd>Fin</dd>
        </dl>
    </div>
</main>