<section class="{% include style/2nd-col-classes.html %} panel panel-primary">
<div class="panel-heading"><h2>Olimpíadas Venezolanas de Algoritmia</h2></div>
<div class="panel-body">
{%capture text%}

<img src="/images/ova-logo.png" alt="Olimpiada Venezolana de Algoritmia" class="center-block" height="100"/>

Las Olimpíadas Venezolanas de Algoritmia (OVA), son una competencia anual modelada a partir de las [International Olympiads in Informatics](http://ioinformatics.org) (IOI) en donde estudiantes venezolanos demuestran su creatividad en resolución de problemas a través de sus habilidades en programación.

Son organizadas por la Asociación Venezolana de Competencias Informáticas (ACI) y fueron pensadas como una forma de generar interés de la comunidad estudiantil por el estudio de la computación y crear conciencia en estudiantes y profesores por igual, acerca de la programación como algo más que sencillamente escribir código; algo que requiere técnicas, habilidades y conocimientos matemáticos. Todo esto se hace con el objetivo de equipar a los estudiantes venezolanos con conocimiento y habilidades que van más allá de un simple usuario de una computadora.

<p class="lead">Las 1ras OVA serán celebradas en Julio de 2018, en la <a href="http://www.ucv.ve/">Universidad Central de Venezuela</a>.</p>

La competencia consiste en una sesión de 5 horas, en la que los estudiantes, de forma individual, trabajan en solucionar un conjunto de 4 o 5 problemas de programación (llamados "tareas"), divididos en subtareas de variada dificultad. Las soluciones son evaluadas en tiempo real en cuanto a correctitud (se verifica que generan respuestas correctas) y a los recursos utilizados (que cumpla con límites de tiempo, memoria y otros requerimientos).

Cada participante cuenta con lápiz, papel, 5 horas, una computadora y su propio entrenamiento o habilidades para resolver los problemas que les son presentados y maximizar su puntación.

Los mejores estudiantes de las OVA, que sean elegibles para las IOI, tendrán la oportunidad de ser entrenados intensivamente por equipos de la ACI. Los 4 mejores estudiantes de cada año serán seleccionados para competir representando a Venezuela en las IOI de ese año.
{%endcapture%}
{{text | markdownify}}
</div>
</section>
