<main class="{% include style/2nd-col-classes.html %} panel panel-primary">
    <div class="panel-heading"><strong>Patrocinadores Oficiales</strong></div>
    <div class="panel-body">
        <p class="lead"><strong>Si quieres apoyar estas olimpíadas y otras actividades relacionadas ¡Contáctanos!</strong> Estamos agradecidos.</p>
        <p>Las siguientes empresas e instituciones figuran como patrocinadores oficiales de las Olimpíadas Venezolanas de Informática. Nos han ayudado recientemente con donaciones, ayuda técnica o de cualquier otra forma. Están ordenadas respetando el nivel relativo de ayuda que han aportado.</p>
        <p>Actualmente tenemos patrocinadores en categorías <a href="#byte">Byte</a>, <a href="#kilo">Kilo</a>, <a href="#mega">Mega</a> y <a href="#giga">Giga</a>.</p>

        <hr />
        <p class="lead text-uppercase text-center" id="giga">Giga</p>
        <div class="instituciones instituciones-giga">
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
        </div>

        <hr />
        <p class="lead text-uppercase text-center" id="mega">Mega</p>
        <div class="instituciones instituciones-mega">
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
        </div>

        <hr />
        <p class="lead text-uppercase text-center" id="kilo">Kilo</p>
        <div class="instituciones instituciones-kilo">
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
        </div>

        <hr />
        <p class="lead text-uppercase text-center" id="byte">Byte</p>
        <div class="instituciones instituciones-byte">
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
            {%include institucion-banner.html nombre='ACI' link='' description=''%}
        </div>
    </div>
</main>
