<nav class="main-nav navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" >OVI</span>
        </div>
        <ul class="nav navbar-nav collapse navbar-collapse navbar-right">
            <li {%if include.active == 'home'      %} class="active"{%endif%}><a href="/">Home</a></li>
            <li {%if include.active == 'about'     %} class="active"{%endif%}><a href="/about">¿Qué son las OVA?</a></li>
            <li {%if include.active == 'competir'  %} class="active"{%endif%}><a href="/competir">Competir</a></li>
            <li {%if include.active == 'entrenar'  %} class="active"{%endif%}><a href="/entrenar">Entrenar</a></li>
            <li {%if include.active == 'resultados'%} class="active"{%endif%}><a href="/resultados">Resultados</a></li>
            <li class="ctc{%if include.active == 'contacto'%} active{%endif%}"><a class="btn btn-default ctc" href="/contacto">Contacto</a></li>
        </ul>
    </div>
</nav>