<section class="{% include style/2nd-col-classes.html %} panel panel-primary">
<div class="panel-heading"><h2>Libros</h2></div>
<div class="panel-body">
<p>En esta página se listan algunos libros de interés para aquellos que quieran aprender sobre informática, entrenar para este tipo de competencias, o reforzar conocimientos en algún área cercana a la programación. Se señala el tema principal de cada libro en su descripción.</p>
<hr />
{%assign lista = site.libros | sort: 'orden' %}
{%for libro in lista%}
<div class="libro-flex">
    <p><strong>{{libro.titulo}}</strong><br />
    {{libro.autor}}<br />
    {{libro.editorial}}.</p>
    <p><strong>{{libro.tema-principal}}.</strong> <i>{{libro.content | strip_html}}</i></p>
</div>{%endfor%}
</div>
</section>