<main class="{% include style/2nd-col-classes.html %} panel panel-primary">
    <div class="panel-heading"><strong>Libros</strong></div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit asl, aliquam nec sapien non, congue tempor velit. Donec efficitur egestas sem id finibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vulputs malesuada, eros quielis ligula, blandit id nibh ullamcorper, facilisis pellentesque magna. Proin tortor nisl, aliquam nec sapien non, congue tempor velit. Donec efficitur egestas sem id finibus.</p>
    </div>
</main>
