<!DOCTYPE html>
<html lang="es">
{%include header.html%}
<body>
<div>{% assign filename = page.path | split:'/' | last | split: '.' | first %}
{% include utils/menu-main.html active=filename %}
<div class="container-fluid row">
<main class="tab-content panel panel-primary" id="{{filename}}">
<div class="panel-heading"><h2>{{page.title}}</h2></div>
<div class="panel-body">{%assign toinclude = "sections/" | append: filename | append: ".html" %}
{%include {{toinclude}}%}
</div>
</main>
</div>
{%include footer.html%}
{%include utils/js.html%}
</div>
</body>
</html>